@import 'variables.css'; 

*{
  box-sizing: border-box;
  margin: 0; 
}

html{
  width: 100vw; 
}
main{
  width: 100%; 
 
}

body{
  background-color: var(--bg); 
  font-family: 'Space Mono', monospace;
  width: 100%; 
}

.title{
  font-size: 1.5rem; 
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0; 
  letter-spacing: .4em;
  color: var(--card-bg)
}

input:focus-visible{
  outline: none; 
}

@media (min-width: 700px){
 
}